
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
  height: 60vh;
  border: 2px solid black;
  border-radius: 10px;
}

p{
  text-align:center;
}

@media (min-width: 772px){

    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div{
        width: 45%;
    }

    div img{
        max-height: 30vh;
    }
}

@media (min-width: 998px){
    div{
        width: 30%;
    }
}
